.container {
    text-align: center;
    margin: 10px;
    background-image: url("../images/dark-triangles.png");
    
}

body {
    background-image: url("../images/wallpaper.jpg");
}

label {
    color: red;
}


#title >  h1 {
    font-size: 100px; 
    color: red;
}

#buttons-view > button {
  margin: 10px;
}

#gifs-appear-here > img {
  margin: 10px;
  float: left;
}

#gifs-appear-here > div {
  color: green;
  float: left;
  margin: 10px;
}

#gifs-appear-here > div > h1 {
  font-size: 20px;
}


